[submodule "third_party/nanosvg"]
	path = third_party/nanosvg
	url = https://github.com/memononen/nanosvg
[submodule "third_party/tksvg"]
	path = third_party/tksvg
	url = https://github.com/oehhar/tksvg
